@import "tailwindcss";

@plugin "../config/hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {
    html {
        @apply scroll-smooth;
    }
}

@layer utilities {
    .thin-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    }

    .dark .thin-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
    }
}
