.card-wrapper {
    position: relative;
}

.card-border {
    mask:
        linear-gradient(transparent 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-radius: 5px;
    padding: 5px 0 16px 0;
}

.card {
    display: block;
    position: relative;
    background: var(--bg2);
    padding: 0;
    aspect-ratio: 1 / 1.3;
    overflow: hidden;
    color: var(--text);
    text-decoration: none;
}

.star4 {
    background: linear-gradient(to right, #fd5, #efc);
}

.star5 {
    background: linear-gradient(to right, #d8e, #7ff);
}

.image {
    position: absolute;
    inset: -12px;
}

.halftone {
    position: absolute;
    inset: 0;
    background: #fff;
    filter: contrast(8) invert(100%) opacity(.77) blur(.5px);
    scale: 1.4;
    mix-blend-mode: screen;
}

.halftone::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, black, transparent 33%);
}

.halftone:after {
    content: "";
    position: absolute;
    inset: 0;
    --stop1: 10%;
    --stop2: 75%;
    --size: 4px;
    background-image: radial-gradient(circle at center, black var(--stop1), transparent var(--stop2)), radial-gradient(circle at center, black var(--stop1), transparent var(--stop2));
    background-size: var(--size) var(--size);
    background-position: 0 0, calc(var(--size)* 0.5) calc(var(--size)* 0.5);
    mask-image: linear-gradient(to top, #000, #0000 60%);
}

.text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0000;
    padding: 0 5px;
}

.char-info {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
}

.vanguard {
    background: #d69;
}

.versatile {
    background: #78e;
}

.support {
    background: #4ca;
}

.char-info .char-class {
    padding: 0 4px 2px 11px;
    font-size: 0.9rem;
}

.char-info .attack-type {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    background: #36a;
    padding: 4px 5px 4px 10px;
}

.card p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #247;
    text-align: right;
}

.corner {
    position: absolute;
    top: -8px;
    left: -8px;
}
